body {
    text-align: center;
    background:linear-gradient(#a2d2ff, rgb(235, 163, 231)  );
    color: #ffffff;
    font-family: "Protest Riot", sans-serif;
    text-shadow: 0px 0px 1px black;
} 

#me-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid rgb(235, 163, 231);
}

#b-day {
    background: rgb(235, 163, 231) ;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px ;
}

 #b-date {
    margin: 0%;
    background: rgb(235, 163, 231) ;
    padding:5px 10px;
    border-radius: 5px ;
}

#header {
    display: flex;
    flex-direction: column ;
    justify-content: center ;
    align-items: center;

}

.gift-title {
    margin-bottom: 0px;
}

.gift-hint {
    margin-top: 10px;
}

.gift-section {
    margin-top: 50px;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url(images/gift\ cover.jpg);
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
}

.gift-img-1 {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    background-image: url(images/gift\ cover.jpg);
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;

}


#gift-img-happy:hover {
    background-image: url(images/giphy.webp);
}


#gift-img-hot:hover {
    background-image: url(images/hot.webp);
}

#gift-img-genuis:hover {
    background-image: url(images/100\ \(1\).webp);
}

#gift-img-badass:hover  {
    background-image: url(images/200w\ \(2\).webp);
}

#gift-img-cheers:hover {
    background-image: url(images/hot.webp);
}

.site {
    font-style: italic;
    width:400px ;
    margin: 40px auto 20px;
}

a {
    color:white;
}